@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #37AFE1;
    --secondary-color: #4CC9FE;
    --accent-color: #FFFECB;
    --font-secondary: 'Montserrat', sans-serif;
    --font-primary: 'Lato', sans-serif;
}
h1,h2 {
    font-family: var(--font-primary);
}

a, p , button{
    font-family: var(--font-secondary);
}
* {
    box-sizing: border-box;
    margin: 0;
}


header {
    display: flex;
    justify-content: center;
    background-color: var(--primary-color);
    padding: 10px;
    height: 100px;
}

header img {
    height: 75px;
    width: auto;
    margin-right: 20px;
}

header h1 {
    text-align: center;
}

nav {
    background-color: var(--secondary-color);
}

ul {
    display: flex;
    justify-content: space-around;
    padding: 0;
    list-style-type: none;
    height: 50px;
    width: auto;
}

.navigation li {
    display: flex; /* Make each list item a block element */
    justify-content: center;
    align-items: center;
    flex: 1 1 100%;
    margin-bottom: 10px; /* Add spacing between items */
    width: auto;
    text-align: center;
}

.navigation a {
    display: block;
    text-decoration: none;
    color: inherit;
    padding: 1rem;
}

.navigation li:hover {
    background-color: var(--accent-color);
    color: #333;
    font-weight: 700;
}
#menu {
    display: none;
}
.main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* Fixed grid layout */
    gap: 20px;
    margin: 10px;
}

.course, .location, .certificate {
    border: 1px solid black;
    margin: 10px 0;
    border-radius: 20px;
    overflow: hidden;
    height: 300px;
}

.course {
    grid-column: 1/3; /* Spans across two columns */
}

.location {
    grid-column: 3/4;
}

.certificate {
    grid-column: 1/4;
}

.location img {
    max-width: 60%;
    max-height: auto;
}

.main h2 {
    text-align: center;
    background-color: lightblue;
    height: 50px;
    padding: 10px;

}

.course ul {
    display: flex;
    flex-direction: column;
}

.location figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

#course, #topic {
    display: flex;
    justify-content: center;
    padding: 20px;
    border: solid black 1px;
}



.certificate button {
    flex: 1 1 100%;
    max-width: 250px;
    margin: 0 10px;
    height: 45px;
}

footer {
    width: 100%; /* Make the footer span the full width */
    background-color: var(--primary-color); /* Set a background color */
    color: white; /* Text color */
    padding: 20px; /* Add padding for spacing */
    text-align: center; /* Center the text */
}